.bookForm {
    margin-bottom: 40px;
}

.label {
    font-weight: bold;
    margin-bottom: 8px;
    color: rgb(0, 149, 176);;
    font-size: 14px;
}

.invalid {
    border: 1px solid red;
    background-color: #FDA49A;
} 

.bookForm .input {
    width: 48%;
    float: left;
    margin: 0% 1%;
    min-height: 107px;
}

.bookForm .input:focus {
    outline: none;
    background-color: #ccc;
}

.alert {
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.createBookButton {
    width: 100%;
    display: block;
}

.bookForm .alert {
    margin-bottom: 1px;
}

@media only screen and (max-width: 674px) {
    .bookForm .input {
        width: 100%;
        margin: 1%;
    }
  }